<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting to App</title>
    <script>
        (function () {
            window.setTimeout(function () {
                window.location = 'https://app.digitalnoticeboard.in/'
            }, 5000);
            window.setInterval(function () {
                document.querySelector('span.dots').innerHTML += '&bull;&bull;&bull; ';
            }, 500);
        })();
    </script>
    <style>
        .dots {
            font-size: 44px;
        }
    </style>
</head>
<body>
<p>
    The application to manage Signoxe content has moved to
    <a href="https://app.digitalnoticeboard.in/">https://app.digitalnoticeboard.in/</a>.
    Kindly update your bookmarks.</p>
<p>
    You should automatically be redirected in a few seconds, if you aren't
    <a href="https://app.digitalnoticeboard.in/">click here</a>.
</p>
<span class="dots"> </span>
</body>
</html>
